<h1>face vs nickname</h1>

<div id="results" class="nav-container">
	<%= render(:partial => "user", :collection => @users) %> 
</div>

<%= will_paginate(@users) %> <%= pageless(@users.total_pages, '/users/') %>
<br/>
<%= link_to "Sign in with Facebook", "auth/facebook" %>

