<!DOCTYPE html>
<html>
<head>
  <title>FIRC</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "jquery.pageless.js" %>
  <%= csrf_meta_tags %>

 <style type="text/css">

 </style>


</head>
<body>
	<%= yield %>
</body>
</html>
